<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Getting Started: Handling Form Submission</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    </head>
    <body th:fragment="content">
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
        	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="True">NOMBRE DE USUARIO O CONTRASEÑA INVALIDOS.</span>
		</div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
        	<p></p>
        	<p></p>
            <div th:fragment="content"><label> User Name : <input type="text" name="username"/> </label></div>
           	<p></p>
           	<div th:fragment="content"><label> Password: <input type="password" name="password"/> </label></div>
            <p></p>  
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
            <div><input type="submit" value="Sign In"/></div>
            <p></p>
            <p></p>
            <p></p>
 			<a th:href="@{estudiante/nuevo}">Registrarme ahora!</a> 
			
        </form>
    </body>
</html>