<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Test</title>
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
       	<script type="text/javascript" src="/validacionEstudiante.js"></script>
    </head>

<body th:fragment="content">
	
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/Home">Home</a>
    </div>
  </div>
</nav>

  
    

      		  
	
    <h1>Formulario de registro de estudiante</h1>
	<div class="container">	
	<form name="formularioEstudiante" th:action="@{/estudiantesss/crear}" th:object="${estudiante}" method="post" onsubmit="return RevisarFormulario(this);">
		
		<div class="form-group">
		    <label for="nombre">Nombre estudiante:</label>
			<input class="form-control" type="text" name="nombre" id="nombre" th:field="*{nombre}" value="" />
		</div>
		
		<div class="form-group">
		    <label for="apellido">Apellido estudiante:</label>
			<input class="form-control" type="text" name="apellido" th:field="*{apellido}" value="" />
		</div>
		
		<div class="form-group">
		    <label for="tipoDocumentoIdentificacion">Tipo de documento:</label>
			<select class="form-control" name="tipoDocumentoIdentificacion" th:field="*{tipoDocumentoIdentificacion}">
				<option value="cc">Cédula</option>
				<option value="ti">Tarjeta de Indentidad</option>
				<option value="nd">Otro</option>
			</select>
		</div>
		
		<div class="form-group">
		    <label for="numeroIdentificacion">Numero de identificación:</label>
			<input class="form-control" type="number" name="numeroIdentificacion" min="1000000" max="99999999999" placeholder="Debe ingresar un numero de identificación válido" value="" th:field="*{numeroIdentificacion}"/>
		</div>

		<div class="form-group">
				<label for="email">correo electrónico:</label> <input
					class="form-control" type="email" placeholder="Ingrese un correo valido" name="email" value=""
					th:field="*{email}" />
		</div>
		
		<div class="form-group">
				<label for="estrato">Estrato:</label> 
				<select class="form-control" name="estrato" >
					<option  value="uno">1</option>
					<option  value="dos">2</option>
					<option  value="tres">3</option>
					<option  value="cuatro">4</option>
					<option  value="cinco">5</option>
					<option  value="seis">6</option>
				</select>
		</div>


		<div class="form-group">
				<label for="contrasena">contrasena:</label> 
				<input class="form-control" type="password" name="contrasena" id="contrasena" value="" th:field="*{Contrasena}" />
		</div>
		
		<div class="form-group">
				<label for="Confirme la contraseña">confirmar contrasena:</label> 
				<input class="form-control" type="password" name="contrasena2" id="contrasena2" value=""/>
		</div>

		<div class="form-group">
				<label for="fechaNacimiento">fecha de nacimiento:</label> 
				<input class="form-control" type="date" name="fechNacimiento" min="1920-01-01" max="2016-01-01" placeholder="La fecha no es valida" value="" th:field="*{fechaNacimiento}" />
		</div>
<!-- 		 min="1920-01-01" max="2010-01-01" 	 -->
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>		
		<input class="btn btn-default" type="submit" value="Enviar" />
	</form>
	</div>
	
	
	


	
<!-- 	function cambiaf_a_mysql($fecha){ -->
<!-- ereg( "([0-9]{1,2})/([0-9]{1,2})/([0-9]{2,4})", $fecha, $mifecha); -->
<!-- $lafecha=$mifecha[3]."-".$mifecha[2]."-".$mifecha[1]; -->
<!-- return $lafecha; -->
<!-- } -->
	
	
</body>
</html>