<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Home</title>
<!--         Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
        <link rel="shortcut icon" href="assets/ico/favicon.png"/>
        
        <link href="assets/css/bootstrap.css" rel="stylesheet"/>
        <link href="assets/css/font-awesome.min.css" rel="stylesheet"/>
        
        <link href="assets/css/main.css" rel="stylesheet"/>
    </head>
<body bgcolor="1A2D24" th:fragment="content">
	
	<div id="headerwrap">
	
		<div class="container">
			
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-3">
					<table>
					<tr>
						<td>
						<br></br>
						<br></br>
						<img src="Imagenes/universidad-cooperativa-colombia.png" alt="Test" class="logo"/>
						</td>
						<td>
						<h1> Universidad <b>Cooperativa</b></h1><h2>de Colombia</h2>
						</td>
					</tr>
					</table>			
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
	
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<div>	
		<p align = "Center"><a class="btn btn-primary btn-lg" th:href="@{HomeAdministrador}" role="button">ADMINISTRADOR</a></p>
		<br></br>
		<br></br>
	 	<p align = "Center"><a class="btn btn-primary btn-lg" th:href="@{HomeUsuario}" role="button">ESTUDIANTE</a></p>		
	</div>
	
	
</body>
</html>