<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	 th:include="layout/principal :: page">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>

<div th:fragment="content">

	
	
	<h1 align="center">ESTUDIANTE POR PROGRAMA</h1>
	
	<table class="table">
		<tr>
			<th>Identificacion</th>
			<th>Tipo Documento</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Fecha de Nacimiento</th>
			<th>Correo</th>
			<th>Etapa</th>
			
		</tr>

		
		<tr th:each="AuxiliarEtapa : ${AuxiliarEtapa}">
			<td th:text="${AuxiliarEtapa.numeroIdentificacion}"></td>
			<td th:text="${AuxiliarEtapa.tipoDocumentoIdentificacion}"></td>
			<td th:text="${AuxiliarEtapa.nombre}"></td>
			<td th:text="${AuxiliarEtapa.apellido}"></td>			
			<td th:text="${AuxiliarEtapa.fechaNacimiento}"></td>
			<td th:text="${AuxiliarEtapa.email}"></td>			
			<td th:text="${AuxiliarEtapa.etapa}"></td>
			<td><button type="button" class="btn btn-default" >Siguiente</button></td>
		</tr>
		
	</table>
	
	
	</div>
</body>
</html>