<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layout/principaleventos :: page">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:fragment="content">
	
	<h1>Vista de registro de evento</h1>
	
	<p th:if="${error != null}" th:text="${error}" class="bg-danger"></p>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
	<table>
		<tr>
			<td>Numero identificacion: </td>
			<td th:text="${evento.numeroIdentificacion}"></td>
		</tr>
	
		<tr>
			<td>Nombre</td>
			<td th:text="${evento.nombre}"></td>
		</tr>
		
		<tr>
			<td>Perfil profesional</td>
			<td th:text="${evento.perfilProfesional}"></td>
		</tr>
		
		<tr>
			<td>Perfil ocupacional</td>
			<td th:text="${evento.perfilOcupacional}"></td>
		</tr>
		
		<tr>
			<td>Proposito formación</td>
			<td th:text="${evento.propositoFormacion}"></td>
		</tr>
		
		<tr>
			<td>Area formación</td>
			<td th:text="${evento.areaFormacion}"></td>
		</tr>
		
		<tr>
			<td>Requisitos</td>
			<td th:text="${evento.requisitos}"></td>
		</tr>
		
		<tr>
			<td>Contacto</td>
			<td th:text="${evento.contacto}"></td>
		</tr>
		
		<tr>
			<td>Habilitado</td>
			<td th:text="${evento.habilitado}"></td>
		</tr>	
		
	</table>
	 
</body>
</html>