<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="layout/principal :: page">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:fragment="content">
	
	<h1>Vista de registro de evento</h1>
	
	
	<p th:if="${error != null}" th:text="${error}" class="bg-danger"></p>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
	<table>
		<tr>
			<td>Numero identificacion</td>
			<td th:text="${evento.numeroIdentificacion}"></td>
		</tr>
	
		<tr>
			<td>Nombre</td>
			<td th:text="${evento.nombre}"></td>
		</tr>
		
		<tr>
			<td>Apellido</td>
			<td th:text="${evento.apellido}"></td>
		</tr>
		
		
	</table>
	 
</body>
</html>